{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>{{ show_category.name }}</h1>
        <p>{{ show_category.description }}</p>
        <p>
            <a href="{% url 'edit_background' background_object.id %}">Edit background</a>
        </p>
        <p>
            <a href="{% url 'my_backgrounds_delete' background_object.id %}">Delete background</a>
        </p>

            <h1 class="title"> {{ background_object.title }}</h1>
            <p class="datecreator">{{ background_object.created_on|date:"F d, Y" }}</p>
            <p class"datecreator">{{ background_object.creator }}</p>
            <p class="comment">{{ background_object.description }}</p>
            <img src="{{ background_object.picture }}" alt="picture" width="200" height="200"/>


    </main>
{% endblock content %}
