{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Backgrounds</h1>
            <p>
                <a href="{% url 'add_background' %}">Create a new background</a>
            </p>
            <div class="background-grid">
                {% if my_backgrounds %}
                        {% for background in my_backgrounds %}
                            <div>
                                <h3>
                                    <a href="{% url 'show_background' background.id %}">-{{ background.title }}-</a>
                                </h3>
                                <img src="{{ background.picture }}" alt="picture" width="200" height="200"/>
                            </div>
                        {% endfor %}
                {% else %}
                    <p>You have no backgrounds</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
