{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=Nanum+Myeongjo&family=Playfair+Display&family=Quicksand:wght@300;400&family=Raleway:wght@300&family=Roboto&display=swap" rel="stylesheet">
        <title>Backgrounds</title>
    </head>
    <body>
        <header>
            <nav>
                <img class="logo-img" src="https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg"/>
                {% if user.is_authenticated %}
                    <a href="{% url 'my_backgrounds' %}">My Backgrounds</a>
                    <a href="{% url 'add_background' %}">Create a new background</a>
                    <a href="{% url 'list_categories' %}">Categories</a>
                    <a href="{% url 'create_category' %}">Create a new category</a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Signup</a>
                {% endif %}
            </nav>
        </header>
        <link rel="stylesheet" href="{% static 'css/backgrounds.css' %}">
        {% block content %}
        {% endblock content %}
        <footer>Made possible by Ajeh Williams and Sabina Bahodirova...with a little bit of Jay</footer>
    </body>
</html>
