{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ show_category.name }}</h1>
            <p>{{ show_category.description }}</p>
            <p>
                <a href="{% url 'add_background' %}">Create a new background</a>
            </p>
            <div class = "background-grid">
                {% if show_category %}
                    {% for background in show_category.images.all %}
                        <div>
                            <h2 class="title">
                                <a href="{% url 'show_background' background.id %}">{{ background.title }}</a>
                            </h2>
                            <p class="datecreator">{{ backdground.created_on|date:"F d, Y" }}</p>
                            <img class="background-picture" src="{{ background.picture }}"/>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>This category has no backgrounds.</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
