{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Background Categories</h1>
            <div class = "background-grid">
            {% if list_categories %}
                {% for category in list_categories %}
                    <div>
                        <h3>
                            <a href= "{% url 'show_category' category.id %}">-{{ category.name }}-</a>
                        </h3>
                        <img src="{{ category.picture }}">
                    </div>
                {% empty %}
                    <p> There are no categories.</p>
                {% endfor %}
            {% else %}
                    <p> There are no categories.</p>
            {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
