@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

header{
    padding: 10px;
    background-color: rgba(86, 42, 103, 0.375);
}


h1{
    color:rgb(90, 102, 233);
    font-size: 150%;
    font-family: "Cinzel";
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}

h2{
    font-size: 120%;
    text-align: center
}
h3{
    text-align: center;
}

a{
    text-decoration: none;
}

h3 a{
    color: rgb(160, 15, 107);
}

h3 a:visited{
    color: rgb(160, 15, 107);
}

h3 a:hover{
    color: rgb(39, 53, 202);
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

main{
    padding: 16px;
    padding-left: 20px;
}

.background-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

}

.background-grid img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


footer{
    padding: 20px;
    position: static;
    background-color: rgba(86, 42, 103, 0.375);
    font-family: 'Cinzel', serif;
    color: black;
    margin-top: 40px;
    bottom: 0;
    position:fixed;
    left:0;
    width: 100%;
}

img {
    height: 150px;
}

.logo-img{
    position: relative;
    height: 50px;
    margin-right: 7px;
}

nav a{
    padding: 20px;
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    overflow: hidden;
    font-family: "Cinzel";
    box-shadow: inset 0 0 0 0 #b854d68a;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:visited{
    border: 16px 16px 1px 16px;
}

nav a:nth-child(odd){
    color: black;
    padding: auto;
}

nav a:nth-child(even){
    color: black;
    padding: auto;
}

nav a:nth-child(odd):hover{
    color: rgb(160, 15, 107);
    text-decoration: none;
    box-shadow: inset 250px 0 0 0 #54c9d636;
}


nav a:nth-child(even):hover{
    color: rgb(39, 53, 202);
    text-decoration: none;
    box-shadow: inset 200px 0 0 0 #b854d62e;
}

img:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 10px 10px 5px #888888;
  }

  .comment{
    font-family: Chalkduster;
    font-size: 120%;
    font-style: italic;
    font-stretch: extra-condensed;
  }

  .datecreator{
    font-size: xx-small;
  }

  div>h1{
    font-size: 300%;
  }
